h1,

h2,

h3,

h4,

h5,

h6,

p,

.text-db {
    color: #33475b !important;
}

.text-orange {
    color: #fb872b !important;
}

.cursor-pointer {
    cursor: pointer;
}

.desktoplogo {
    font-size: 24px;
}

.mobile-logo {
    width: 90px;
}


.desktoplogo img {

    max-width: 140px;

}

.box-shadow-bottom {
    box-shadow: 0 1px 5px #dee2e6;
}

/* Modal Css */
.modal-header .close {
    width: 40px;
    height: 40px;
    opacity: 1;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* Modal Css End */