h1,

h2,

h3,

h4,

h5,

h6,

p,

.text-db {
    color: #33475b !important;
}

.text-orange {
    color: #fb872b !important;
}

.cursor-pointer {
    cursor: pointer;
}

.desktoplogo {
    font-size: 24px;
}

.mobile-logo {
    width: 90px;
}


.desktoplogo img {

    max-width: 140px;

}

.box-shadow-bottom {
    box-shadow: 0 1px 5px #dee2e6;
}

/* Modal Css */
.modal-header .close {
    width: 40px;
    height: 40px;
    opacity: 1;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* Modal Css End */

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    /* Black background with opacity */
    z-index: 9999;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}