@import "common.css";

body {
  background-color: #f7f7f7;
  background-image: linear-gradient(45deg, #efefef 0%, #f7f7f7 100%);
}

.card-item {
  height: 100%;
}

.card-item .card-header {
  text-decoration: none;
}

.card-item .link-icon {
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}

.card-item .card-header:hover .link-icon {
  background-color: #eeeff1;
}

.card-menu-title {
  color: #a8adb8;
  font-size: 18px;
}

.card-menu-item:hover {
  background-color: #f6f7f8;
}

.card-menu-item-icon {
  color: #18c7c9;
  font-size: 16px;
}
