@import "common.css";

body {
  background-color: #f7f7f7;
  background-image: linear-gradient(45deg, #efefef 0%, #f7f7f7 100%);
}

.card-item {
  height: 100%;
}

.card-item .card-header {
  text-decoration: none;
}

.card-item .link-icon {
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}

.card-item .card-header:hover .link-icon {
  background-color: #eeeff1;
}

.card-menu-title {
  color: #a8adb8;
  font-size: 18px;
}

.card-menu-item:hover {
  background-color: #f6f7f8;
}

.card-menu-item-icon {
  color: #18c7c9;
  font-size: 16px;
}

.schedule-options {
  left: -40px;
}

.schedule-options .schedule-run {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  background: #fff;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 25px;
  cursor: pointer;
}

.schedule-options .schedule-n {
  background: #4fbf86;
}

.schedule-options .schedule-1h {
  background: #46b29c;
}

.schedule-options .schedule-2h {
  background: #30b79b;
}

.schedule-options .schedule-3h {
  background: #87c0eb;
}

.schedule-options .schedule-1d {
  background: #5cabe3;
}

.schedule-options .schedule-2d {
  background: #327fb4;
}

.schedule-options .schedule-3d {
  background: #3691cf;
}

.schedule-options .schedule-1w {
  background: #2981bd;
}

.schedule-options .schedule-2w {
  background: #efb899;
}

.schedule-options .schedule-1m {
  background: #e49a69;
}

.schedule-options .schedule-edit {
  background: #eee;
  color: #000;
}
